html {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-width: 0 0 0 0;
    flex-basis: 100%;
    overflow: hidden;
}

div#main {
    gap: 0;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
}
div#model_container {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    background-color: #ddd;
}

div#state_container {
    gap: 0;
    flex-basis: 20%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    border-left: 2px solid black;
}

div#state_container button {
    flex-basis: 5%;
}

div#program-counter {
  display: flex;
}

div#program-counter > span {
  width: 100%;
  text-align: center;
}

div#controls {
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: purple;
    flex-basis: 5%;
}

button {
    border-radius: 0;
    border-style: none;
    font-size: 1em;
    font-weight: bold;
    font-variant: normal;
}


div#controls > button,
div#controls > label,
div#controls > input {
    flex-basis: 100%;
    display: block !important;
    border-radius: 0;
}

div#model {
    background-color: #ffffff;
    flex-basis: 95%;
}

table#regtable, table#memtable {
    width: 100%;
}

table#regtable tbody,
table#memtable tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

td.right-align {
    text-align: right;
}

table#regtable tr,
table#memtable tr {
    display:flex;
    flex-direction: row;
    flex-basis: 100%;
}

table#memtable th,
table#memtable td{
    flex-basis: 33%;
    font-family: monospace;
    border: 1px solid black;
    border-collapse: collapse;
}

table#regtable th,
table#regtable td
{
    flex-basis: 25%;
    flex-grow: 25%;
    flex-shrink: 25%;
    font-family: monospace;
    border: 1px solid black;
    border-collapse: collapse;
}

th.double-wide {
  flex-basis: 50% !important;
  flex-grow: 50% !important;
  flex-shrink: 50% !important;
}

div#regvals {}

div#memvals {}

.invisible {
    display: none;
}


